/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------- */
/* The styles below were added on 29-Dec-24 */

body {
      /* margin-le  t:40px; 
      margin-right:40px;
      margin-top:20px;  */
      background-color: lightyellow;
      color: #3d50dbf2;
      font-family: Verdana, Tahoma, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Added on 30-Dec-24 */
}


header, main, footer {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 100%;
}

header, footer {
  position: sticky;
  background-color: #1E293B;
  color: whitesmoke;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  background-color: dodgerblue;
}

main {
  flex-grow: 1;
}

/* -------------- */

h1.caption {
  /* height: 50px;
  padding-top: 20px;
  padding-right: 50px; */
  clear: left;
  background-image: url("/static/demo/images/pexels-efrem-efre-2786187-29644504.jpg");
  background-size: cover;
  /* background-position: 400px 10em; */
  /* background-color: dodgerblue; */
  /* background-repeat: repeat-x; */
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(147, 203, 225);
  text-align: center; 
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  /* word-spacing: 15px; */
  /* font-size: 2rem; */
  /* letter-spacing: 1rem; */
  /* word-spacing: 2rem; */
  padding: 0.5em;
  text-shadow: 0 0 2px black, 0 0 5px black;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

h2 {
  /* background-color: darkblue; */
  /* font-size: 1.5rem; */
  font-weight: bold;
  text-align: center; 
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left; 
}

.tagline {
  /* background-color: dodgerblue; */
  color: whitesmoke;
  font-size: 0.5em;
  text-align: center;
  font-style: oblique;
}

input {
  background-color: antiquewhite;
}
a.a2, a.a2:visited { /* link styled as button */
  width:auto;
  margin: 2px;
  padding: 5px 5px;
  border: solid #cccccc 3px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-weight: bold;  */
}
a.a2:hover {
  background-color: #86b200;
}
a.a2:active {
  background-color: red;
}
a.a1, a.a1.visited { /* link styled as button */
  width:auto;
  margin: 2px 2px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold; 
}
a.a1:hover {
  background-color: #86b200;
}
a.a1:active {
  background-color: red;
}
.button1 {
  width:150px;
  margin: 20px;
  padding: .6em;
  border: solid #cccccc 3px;
  border-radius: 5px;
  display: inline-block;
  /* background-color: #e6e30f; */
  background-color: dodgerblue;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;  
  cursor: pointer;
}
.button1:hover
{
  background-color: #86b200;
}
.button1:active
{
  background-color: red;
}
ul.message, p.message {
  border-style: none none none solid;
  border-color: red;
  border-width: large;
  color: tomato;
  font-weight: bold;
  list-style-type:square;
}
.error {
  color: tomato;
  
}
.required {
  color:blue;

}

.helptext {
      font-style: italic;
      font-size: smaller;
      color: gray;
}        

.nowrap {
  white-space: nowrap;
}


/* MEDIA QUERIES */

/* SMALL */
@media screen and (min-width: 576px) {
  body {
    background-color: lightcyan;
  }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
  body {
    background-color: gold;
  }
}

/* LARGE */
@media screen and (min-width: 992px) {
  body {
    background-color: lightpink;
  }
}

/* XL */
@media screen and (min-width: 1200px) {
  body {
    background-color: paleturquoise;
  }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    background-color: olive;
  }

  h1, h2 {
    font-size: 1.5rem;
  }
}