<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{%static 'demo/css/style.css'%}"/>
  <link rel="stylesheet" href="{%static 'demo/css/topmenustyle.css'%}"/>
  
  <title>{%block title%} {%endblock%}</title>
</head>
<body>
  <header>
    {% include "demo/header.html" %}
    {% include "demo/topmenu.html" %}
  </header>
  <main>
    {% include "demo/notifications.html" %}
    {%block content%}
    {%endblock%}
  </main>
  <footer>
    {% include "demo/footer.html" %}
  </footer>
</body>
</html>
